@using MusicOrganizer.Models;
@{
  Layout = "_Layout";
}

<h3>records for this Artist:</h3>

<ol>
@foreach (Record record in @Model["records"])
{
  <li><a href='/artists/@Model["artist"].Id/records/@record.Id'>@record.Title</a></li>
}
</ol>

<p><a href='/artists/@Model["artist"].Id/records/new'>Add a new record for this artist</a></p>
<p><a href='/artists'>Return to artist list</a></p>
<p><a href='/'>Return to Main Page</a></p>
