@{
  Layout = "_Layout";
}
<h1> Record Details: </h1>

<h2>@Model["record"].Title</h2>
<h3>Artist: @Model["artist"].Name</h3>

<a href='/artists/@Model["artist"].Id/artists/new'>Add another artist</a>
<a href='/artists'>View all Artists</a>